header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}

.sector {
    margin-left: 25px;
}

.chart-title {
    text-align: center;
}

.drop-down-options {
    width: 30%;
}