header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-group {
    margin-top: 15px;
}

.ticker-form {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

li {
    list-style: none;
}

.top-suggestions {
    padding: 2px;
    overflow: hidden;
    overflow-y: scroll;
    height: 400px;
}

.card-info {
    padding-left: 0;
}

.sector {
    margin-left: 25px;
}

.chart-title {
    text-align: center;
}

.drop-down-options {
    width: 30%;
}

.market-sentiment {
    padding-bottom: 10px;
}
#gen-sent-value {
    padding: 5px;
    border-radius: 5px;
}
.neutral {
    background-color: yellow;
}
.slightly-positive {
    background-color: yellowgreen;
}
.positive {
    background-color: green;
}
.slightly-negative {
    background-color: rgb(173, 80, 42);
}
.negative {
    background-color: red;
}